.g-config-breadcrumb-container

form#g-oauth_groups-form(role="form")
  .form-group
    label.control-label(for="g-oauth-groups-required-github-org") Required GitHub organization for registration
    input#g-oauth-groups-required-github-org.input-sm.form-control(type="text", placeholder="GitHub org name")
  p#g-oauth_groups-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
